<html>
	<head>
    	<title>$i18n.getText('label.curriculum')</title>
    	<meta name="decorator" content="atl.general">
    	${webResourceManager.requireResource("it.pmx.atlassian.plugins.people-management-extensions-plugin:people-management-extensions-plugin-resources")}
	</head>
	<body class="aui-layout aui-theme-default ">
		<header class="aui-page-header">
			<div class="aui-page-header-inner">
				<div class="aui-page-header-main">
					<h1>$i18n.getText('label.curriculum')</h1>
				</div>
			<div id="dash-options" class="aui-page-header-actions">
			</div>
		</header>
		<div class="aui-page-panel"> 
		    <div class="aui-page-panel-inner">
			    <section id="cv_profile_form" class="aui-page-panel-content">
			    	<div id="summary-module" class="module">
						<div class="mod-header">
							<ul class="ops">
						        <li>
						        	<a id="edit_prefs_lnk" class="icon icon-edit-sml" href="/jira/plugins/servlet/user-cv?username=${urlcodec.encode($user.name)}" title="$i18n.getText('label.edit.summary')">
						        		<span>$i18n.getText('label.edit.summary')</span>
					        		</a>
				        		</li>
						    </ul>
						    <h3>$i18n.getText('label.summary')</h3>
						</div>
						<div class="mod-content">
							<ul class="item-details">
						        <li>
						            <dl title="$i18n.getText('label.description')">
						                <dt>$i18n.getText('label.description'):</dt>
						                <dd>
						                    <span id="up-p-pagesize">Frontend developer with an attitude fo UX Design</span>
						                </dd>
						            </dl>
						        </li>
						    </ul>
						</div>
					</div>
					<div id="credentials-module" class="module">
						<div class="mod-header">
							<ul class="ops">
						        <li>
						        	<a id="edit_prefs_lnk" class="icon icon-edit-sml" href="" title="$i18n.getText('label.edit.credentials')">
						        		<span>$i18n.getText('label.edit.credentials')</span>
					        		</a>
				        		</li>
						    </ul>
						    <h3>$i18n.getText('label.credentials')</h3>
						</div>
						<div class="mod-content">
							TODO
						</div>
					</div>
					<div id="skills-module" class="module">
						<div class="mod-header">
							<ul class="ops">
						        <li>
						        	<a id="edit_prefs_lnk" class="icon icon-edit-sml" href="" title="$i18n.getText('label.edit.skills')">
						        		<span>$i18n.getText('label.edit.skills')</span>
					        		</a>
				        		</li>
						    </ul>
						    <h3>$i18n.getText('label.skills')</h3>
						</div>
						<div class="mod-content">
							#if ($errors.size()>0)
					            <div class="aui-message error shadowed">
					                #foreach($error in $errors)
					                    <p class="title">
					                        <span class="aui-icon icon-error"></span>
					                        <strong>$error</strong>
					                    </p>
					                #end
					            </div>
					            <!-- .aui-message -->
					        #end
							
							#if ($issues.size() > 0)
					            <div class="issues">
					                <table class="aui">
					                    <thead>
					                    <tr>
					                        <th>Key</th>
					                        <th>Summary</th>
					                        <th>Description</th>
					                        <th>Assignee</th>
					                        <th>Reporter</th>
					                        <th></th>
					                    </tr>
					                    </thead>
					                    <tbody>
					                        #foreach( $issue in $issues )
					                        <tr>
					                            <td>$issue.getKey()</td>
					                            <td>$issue.getSummary()</td>
					                            <td>
					                                #if($issue.getDescription())
					                            $issue.getDescription()
					                        #end
					                            </td>
					                            <td>
					                                $issue.getAssignee().getName()
					                            </td>
					                            <td>
					                                $issue.getReporter().getName()
					                            </td>
					                            <td>
					                                <a href="issuecrud?edit=y&key=$issue.getKey()">Edit</a> &nbsp;
					                                <a href="#" class="delete-issue" data-key="$issue.getKey()">Delete</a>
					                            </td>
					                        </tr>
					                        #end
					                    </tbody>
					                </table>
					            </div>
					        #end
						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
</html>