{namespace JIRA.Templates.ProjectTemplates.Pmx}

/**
 * Says hello to the world.
 */
{template .renderPmxProjectTemplateExplanation}
    <p>{getText('pmx.template.info.page.description')}</p>
{/template}
